<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="../static/script.js" defer></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "author" content = "Truanne Chen">
    <meta name = "keywords" content = "Carnegie Mellon University, Information Systems">
    <meta name = "description" content = "Truanne Chen profressional website">
    <title>Truanne Chen</title>
</head>
<body onload = "addYear()">
    <header>
        <h1 id="webname">Truanne Chen</h1>
        <nav>
            <a class = "navi" href="../index.html">Home</a>
            <a class = "navi" href="./cv.html">CV</a>
            <a class = "navi" href="./fun.html">For Fun</a>
            <a class = "navi" href="./contact.html">Contact Me</a>
        </nav>
    </header>
    <div class="main">
        <h2>Contact Me</h2>

        <form>
            <label>Your Name (Required)</label>
            <input id = "nameField" type = "text" required>
            <label>Your Email</label>
            <input id = "emailField" type = "email" required>
            <br>
            <label>Your comment</label>
            <textarea required id = "commentArea"></textarea>
            <input id = "submitButton" type = "submit" value = "SEND" onclick = "checkForm()">
        </form>
        <p id = "errorMessage">Please complete all fields so I can get back to you!</p>

        <table>
            <tr>
                <th>Contact Methods</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Email</td>
                <td>truannec@andrew.cmu.edu</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>626-476-8586</td>
            </tr>
            <tr>
                <td>Linkedin</td>
                <td>Truanne Chen</td>
            </tr>
        </table>
    </div>
    <footer>
        <p id = "copyYear">designed and coded by Truanne Chen &copy;</p>
    </footer>
</body>
</html>