<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "author" content = "Truanne Chen">
    <meta name = "keywords" content = "Carnegie Mellon University, Information Systems">
    <meta name = "description" content = "Truanne Chen profressional website">
    <title>Truanne Chen</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 id="webname">Truanne Chen</h1>
        <nav class = "navi">
            <a class = "navi" href="../index.html">Home</a>
            <a class = "navi" href="./cv.html">CV</a>
            <a class = "navi" href="./contact.html">Contact Me</a>
            <a class = "navi" href="./fun.html">For Fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Carneige Mellon University</td>
                <td>First year information systems student.</td>
            </tr>
            <tr>
                <td>EatUnique Worker</td>
                <td>Server and Cashier at Eat Unique where I took orders, organized the restauruant, restocked, and prepared orders for customers.</td>
            </tr>
            <tr>
                <td>CMU Teaching Assistant</td>
                <td>Teaching assistant for 15112: Fundamental of Programming and CS. Lead weekly recitations, evaluate exams and homework, and currate curriculums for review groups.</td>
            </tr>
            <tr>
                <td>BingsuBingsu</td>
                <td>Server and Cashier for a popular dessert cafe in Los Angeles. Managed rush hours, prepared orders, kept a neat and clean restaurant, and delivered great customer experience.</td>
            </tr>
            <tr>
                <td>UX Research in the Context of Product Management</td>
                <td>Completed an in-class research project on trust with AI chatbots. More specifically, my group explored how personality traits and stress influences one's ability to trust an AI customer service chatbot.</td>
            </tr>
        </table>

        <a href = "../static/2025Resume.pdf" target = "_blank">My Resume (pdf)</a>
    </div>
    <footer>
        &copy; 2025 designed and coded by Truanne Chen
    </footer>
</body>
</html>