<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "author" content = "Truanne Chen">
    <meta name = "keywords" content = "Carnegie Mellon University, Information Systems">
    <meta name = "description" content = "Truanne Chen profressional website">
    <title>Truanne Chen</title>
</head>
<body style="font-family: Arial">
    <header>
        <h1>Truanne Chen</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Carneige Mellon University</td>
                <td>First year information systems student.</td>
            </tr>
            <tr>
                <td>EatUnique Worker</td>
                <td>Server and Cashier at Eat Unique where I took orders, organized the restauruant, restocked, and prepared orders for customers.</td>
            </tr>
            <tr>
                <td>CMU Teaching Assistant</td>
                <td>Teaching assistant for 15112: Fundamental of Programming and CS. Lead weekly recitations, evaluate exams and homework, and currate curriculums for review groups.</td>
            </tr>
        </table>

        <a href = "../static/2025Resume.pdf" target = "_blank">My Resume (pdf)</a>
    </div>
    <footer>
        &copy 2025 designed and coded by Truanne Chen
    </footer>
</body>
</html>