<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "author" content = "Truanne Chen">
    <meta name = "keywords" content = "Carnegie Mellon University, Information Systems">
    <meta name = "description" content = "Truanne Chen profressional website">
    <title>Truanne Chen</title>
</head>
<body>
    <header>
        <h1>Truanne Chen</h1>
        <nav>
            <a href="index.html">Home</a>
            <a href="views/cv.html">CV</a>
            <a href="views/contact.html">Contact Me</a>
            <a href="views/fun.html">For Fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <p id = "intro">Hey! My name is Truanne (pronounced "true anne") and I am a current first year student at Carnegie Mellon. With a passion for leveraging technology for social good, I'm currently pursuing a major in Information Systems and plan to pursue an additional major in Human Computer Interaction.</p>
    </div>
    <footer>
        copyright?
    </footer>
</body>
</html>