<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "author" content = "Truanne Chen">
    <meta name = "keywords" content = "Carnegie Mellon University, Information Systems">
    <meta name = "description" content = "Truanne Chen profressional website">
    <title>Truanne Chen</title>
</head>
<body>
    <header>
        <h1>Truanne Chen</h1>
        <nav>
            <a href="index.html">Home</a>
            <a href="views/cv.html">CV</a>
            <a href="views/contact.html">Contact Me</a>
            <a href="views/fun.html">For Fun</a>
        </nav>
    </header>
    <div class="main">

        <p>Hello world!</p>
    </div>
    <footer>
        copyright?
    </footer>
    
</body>
</html>