:root {
    --nameGreen: #aabdb4;
    --tableHeadGreen: #647870;
}

* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    padding: 5px;
    margin: 5px;
}

#webname {
    background-color: var(--nameGreen);
}

a.navi{
    text-decoration: none;
    color: #577065;
    margin-right: 15px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: var(--tableHeadGreen);
    color: #aabdb4;  
    width: fit-content; 
}

tr:nth-child(even) {
    background-color: #d4e6df;
}

form * {
    display: block;
    margin: auto;
    text-align: center;
}

#submitButton {
    background-color: var(--tableHeadGreen);
    border: none;
    border-radius: 6px;
}

#seeMoreButton {
    display: block;
}

#funList {
    display: none;
}

#intro {
    display: none;
}

#introShort {
    display: block;
}

#readLess {
    background-color: gray;
    display: none;
}

#readMore {
    display: inline;
    background-color: gray;
}

#errorMessage {
    display: none;
    padding: 15px;
    color: red;
    text-align: center;
}